.columns {
  margin: 1em 0;
  min-width: 100%;

  &:not(.columns-liquid) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &.columns-liquid {
    column-gap: 2em;
  }

  @for $i from 1 through 9 {
    &.columns-#{$i} {
      .column {
        width: calc((#{100%} - #{1em * ($i - 1)}) / #{$i});
      }

      &.columns-liquid {
        column-count: #{$i};
      }
    }
  }

  > .column-2 {
    &.column-narrow {
      width: calc(33.33333% - .5em);
    }

    &.column-wide {
      width: calc(66.66666% - .5em);
    }
  }
}
